.card-img-top:hover {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    transition: filter .5s;
    -webkit-filter: saturate(3);
    /: saturate(3);
    transition: transform .5s;
    transform: rotateY(180deg);
}

.card {
    min-width: 10rem;
    max-width: 14rem;
    margin: 0.2rem;
}

.img-card {
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-height: 50px;
    border: solid 1px;
    box-shadow: 8px 8px 5px #888888;
    transform: rotate(10deg);
    transition: transform 0.5s;
}

.img-card:hover {
    transform: rotate(0deg);
}

.parts-wrapper {
    text-align: right;
}

.navbar {
    border-bottom: solid 1px;
    color: #0055aa;
}

.nav-link.active {
    font-weight: bold;
}

.font-wrapper {
    font-size: 2rem;
}

/* Typography */
.display-3,
.display-4 {
    font-family: 'Overlock', cursive;
}

body,
h1,
h2,
h3,
h4,
ul,
ol,
dl {
    font-family: "Mada", sans-serif;
}

.mono-text {
    font-family: "Space Mono", sans-serif;
}

header {
    background-image: url("assets/img/carousel1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/*
section {
    min-height: 50vh;
}
*/
section {
    padding: 2rem 1rem;
}

.img-sklep {
    box-shadow: 6px 6px 4px #807272;
}

.info {
    position: relative;
    left: 10vw;
    top: 20vh;
}

.parallax {
    min-height: 50vh;
    background: transparent;
}

.parallax-narrow {
    min-height: 20vh;
    background: transparent;
}

.badge-primary {
    background-color: #0055aa;
}

.text-primary,
 {
    color: #0055aa !important;
}

hr {
    border-color: #0055aa;
}

.btn-primary {
    color: #fff;
    background-color: #0055aa;
    border-color: #0055aa;
}

.list-group-item {
    padding: 0.5rem 1.25rem;
}