/* Copyright cravsky
cravsky@gmail.com, March 2018 */
/* CONTENTS 
- Typography
- Return to the top arrow 
- Loading screen
- Card (rowery.html)
- Supplier card (czesci.html)
- Navbar
- Header
- Section
- Shop images (index.html)

*/
p.card-text:nth-child(3) {
    text-align: left;
}

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Archivo|Mada|Inconsolata');

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Overlock', cursive;*/
    font-family: 'Archivo', sans-serif;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-style: italic;
}

.nav-link,
.dropdown-item {
    /*font-style: italic; */
    font-size: 1.2rem;
    font-family: 'Archivo', sans-serif;
}

body,
ul,
ol,
dl {
    font-family: "Mada", sans-serif;

    /*font-family: 'Archivo', sans-serif;*/
}

.mono-text {
    /* font-family: "Space Mono", sans-serif;*/
    /* font-family: 'PT Mono', monospace; */
    font-family: "Inconsolata", monospace;
}

/* Return to the top arrow */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 55, 255, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 55, 255, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Loading screen*/
#loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loader-img {
    position: absolute;
    top: 20vw;
    left: 40vw;
    z-index: 100;
}

/* Card */
.card-img-top:hover {
    cursor: zoom-in;
    transition: transform .5s;
    transform: rotateY(180deg);
}

.card {
    min-width: 10rem;
    max-width: 14rem;
    margin: 0.2rem;
}

/* Supplier Card */
.img-card {
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-height: 50px;
    border: solid 1px;
    -webkit-box-shadow: 8px 8px 5px #888888;
    box-shadow: 8px 8px 5px #888888;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.img-card:hover {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.parts-wrapper {
    text-align: right;
}

/* Navbar */
.navbar {
    border-bottom: solid 1px;
    color: #0055aa;
}

.nav-link.active {
    font-weight: bold;
}

.font-wrapper {
    font-size: 2rem;
}

/* Header */
header {
    background-image: url("assets/img/carousel1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.info {
    position: relative;
    left: 10vw;
    top: 20vh;
}

/* Section */
section {
    padding: 2rem 1rem;
}

/* Shop images */
.img-sklep {
    -webkit-box-shadow: 6px 6px 4px #807272;
    box-shadow: 6px 6px 4px #807272;
}

.parallax {
    min-height: 40vh;
    background: transparent;
}

.parallax-narrow {
    min-height: 20vh;
    background: transparent;
}

.badge-primary {
    background-color: #0055aa;
}

.text-primary {
    color: #0055aa !important;
}

hr {
    border-color: #0055aa;
}

.btn-primary {
    color: #fff;
    background-color: #0055aa;
    border-color: #0088aa;
}

.list-group-item {
    padding: 0.5rem 1.25rem;
}

.nav-link.disabled {
    text-align: center;
}

:target::before {
    content: "";
    display: block;
    height: 80px;

    /* fixed header height*/
}